body {
    margin-top: 0;
    padding-top: 0;
    font: 100% sans-serif;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50em;
}

h1, h2, h3 {
    color: #005a9c;
}

h1 {
    font: 170% sans-serif;
    margin-top: 30px;
}

h2 {
    font: 140% sans-serif;
}

h3 {
    font: 110% sans-serif;
}

.controls {
    border: dotted 1px gray;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

#supported {
    background-color: #fffde3;
    border: solid 1px #e7e7ce;
    padding: 10px;
    margin-top: 15px;
}

#footer {
    border-top: dotted 1px gray;
    color: gray;
    font: 75% sans-serif;
    padding: 10px;
    margin-top: 25px;
}